.container {
    width: 100%;
    height: 70px;

    background-color: #952A24;

    display: flex;

}

.container>a>span {
    position: absolute !important;

    top: 10px;
    left: 50px;

}

.icon {
    color: #EEE;

    font-size: 18px;

    margin-right: 15px;

}

.menu {
    display: flex;

    align-items: center;

    width: fit-content;
    height: 70px;

    position: absolute !important;

    top: 0;
    right: 20px;

    padding: 0 10px;

}

.containerLanguage {
    color: #EEE;

    display: flex;

    align-items: center;

}

.containerStudent {
    margin-left: 20px;

    color: #EEE;

    display: flex;
    align-items: center;

}

.loginImage {
    font-size: 35px;

    margin-left: 8px;

}

.iconMenu {
    color: #EEE;

    cursor: pointer;

    font-size: 44px;

    position: absolute;
    right: 20px;

}

.notify {

}

.message {

}

.menuAux {
    display: flex;

    align-items: center;

    position: fixed;
    top: 70px;
    left: 0;

    box-shadow: 0 2px 4px 1px #555;

    width: 100%;
    height: 50px;

}

.button {
    width: 100px;
    height: 100%;

    background-color: transparent;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0 15px;

    position: absolute;
    left: 50px;

    z-index: 2;

}

.bg {
    background-color: #000;
    opacity: .2;

    width: 100px;
    height: 100%;

    padding: 0 15px;

    position: absolute;

}

.button>p {
    margin-top: 15px;

}

.button>i {
    font-size: 15px;

}

.containerStudent>p {
    margin-top: 15px;

}

.button:hover {
    cursor: pointer;

    color: #000;

}

.containerLanguage:hover, .icon:hover, .loginImage:hover {
    cursor: pointer;

    color: lightseagreen;

}

.iconMenu:active {
    transform: scale(.8);

}

.containerLanguage:active, .icon:active, .loginImage:active {
    transform: scale(.9);

}

@media (max-width: 600px) {
    .containerStudent>p {
        display: none;

    }

}

@media (max-width: 950px) {
    .containerStudent>p {
        position: absolute;

        top: 15px;
        right: 50px;

        margin: 0;

        width: 150px;
        height: 25px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    .menu {
        display: none;

        height: 29%;
        width: 55%;

        background-color: #FFF;

        box-shadow: -2px 2px 4px 1px #111;

        right: 0;
        top: 70px;

    }

    .icon, .containerStudent, .containerLanguage {
        color: #222;

        position: absolute;

    }

    .containerStudent {
        top: 0;
        right: 10px;

    }

    .icon {
        top: 15px;

    }

    .message {
        left: 50px;

    }

    .containerLanguage {
        display: none;

    }

    .language {
        display: block;
        left: 90px;

    }

    .loginImage {
        position: absolute;
        top: 0;
        right: 5px;

    }

    .menuAux {
        box-shadow: none;

        top: 50px;
        right: 0;

        display: flex;
        flex-direction: column;

        justify-content: right;
        align-items: normal;

        height: fit-content;

        position: absolute;


    }

    .button {
        position: static;

    }

}

@media (min-width: 950px) and (max-width: 1920px) {
    .iconMenu {
        display: none;

    }

    .language {
        display: none;

    }

    .menu {
        display: flex !important;

    }

}
