.container {
    width: 100%;
    height: 70px;

    background-color: #444;

    display: flex;

}

.container>span:first-child {
    width: 100px;

    margin-left: 100px !important;
    margin-top: 15px !important;

}

.title {
    font-family: "JetBrains Mono", sans-serif !important;
    font-size: 25px;
    font-weight: 600;

    color: #000 !important;

    margin-left: 10px;
    margin-top: 18px;

}

.menu {
    font-size: 45px;
    color: #FFF;

    position: absolute;

    right: 20px;

    cursor: pointer;

}

.menu:active {
    transform: scale(.8);

}

.menuOpt {
    width: 60%;
    height: 100vh;

    min-width: 0;
    max-width: 60%;

    background-color: #333;

    position: absolute;
    right: 0;
    top: 0;

    z-index: 999999;

    display: none;

}

.menuOpt>ul {
    list-style: none;

    text-align: center;

    margin-top: 50px;
    margin-left: 10%;

    display: flex;
    flex-direction: column;

}

.menuOpt>ul>li {
    margin-bottom: 20px;

    width: 150px;

    font-size: 20px;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 800;

    color: #FFF;

}

.menuOpt>ul>li>a {
    text-decoration: none;

}

.menuOpt>ul>li>a:hover {
    text-decoration: none;
    cursor: pointer;

    color: #FFF;

}

.menuOptAux {
    height: 100vh;
    width: 100%;

    min-width: 0;
    max-width: 100%;

    background-color: #333;
    opacity: .8;

    position: absolute;

    z-index: 999998;

    top: 0;
    left: 0;

    display: none;

}

@media (max-width: 700px) {
    .container>span:first-child {
        margin-left: 20px !important;

    }

}

@media (min-width: 701px) and (max-width: 1920px){
    .menu, .menuOptAux {
        display: none !important;

    }

    .menuOpt {
        display: flex !important;

        height: 70px;

        background-color: transparent;

    }

    .menuOpt>ul {
        margin: 0;

        position: absolute;
        top: 20px;
        right: 20px;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

    }

    .menuOpt>ul>li {
        margin-bottom: 0;

        width: fit-content;

        margin-left: 35px;

    }

    .menuOpt>ul>li:first-child {
        margin: 0;

        width: fit-content;

        padding-left: 0;

    }

}
